{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script>
        var yujing =
        {{ yujing }}
        if (yujing) {
            notifyMe('小区故障预警', '请立即上报！！', '{% static 'media/xqgzyj.mp3' %}');
        }

        function notifyMe(title, body, soundPath) {
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            }
            else if (Notification.permission === "granted") {
                var notification = new Notification(title, {
                    body: body,
                    icon: "{% static 'img/logo.jpg' %}",
                    requireInteraction: true
                });
                var audio = new Audio(soundPath);
                audio.play();
            }
            else if (Notification.permission !== "denied") {
                Notification.requestPermission(function (permission) {
                    if (permission === "granted") {
                        var notification = new Notification(title, {
                            body: body,
                            icon: "{% static 'img/logo.jpg' %}",
                            requireInteraction: true
                        });
                        var audio = new Audio(soundPath);
                        audio.play();
                    }
                });
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="padding: 0px 15px 0px 15px" href="{% url 'index' %}">
                <img src="{% static 'img/logo.jpg' %}">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        数据值班申告
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                         <li><a href="http://134.74.25.225:8001/IOMPROJ/logon.htm" target="_blank">上海联通服务保障系统</a></li>
                         <li class="divider"></li>
                         <li><a href="http://134.95.3.13:9020/IOMPROJ/" target="_blank">上海联通服务开通系统</a></li>
                         <li class="divider"></li>
                        <li><a href="http://10.8.166.64/" target="_blank">数据工单综合监控</a></li>
                        <li class="divider"></li>
                        <li><a href="http://10.8.166.64:8080" target="_blank">数据工单综合监控（自动签单)</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'xiaoquguzhang:add' %}" target="_blank">新增小区故障</a></li>
                         <li class="divider"></li>
                        <li><a href="{% url 'learningcenter:list' %}" >值班知识分享学习中心</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'admin:login' %}">登录后台</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block mainbody %}
    <p>original</p>
{% endblock %}
</body>
</html>