{% extends "base.html" %}
{% load static %}
{% block title %}学习中心{% endblock %}
{% block mainbody %}
    <div class="container">
        <div style="padding-bottom: 10px">
            <a href="{% url 'index' %}" class="label label-success">首页</a>
            <span>  > </span>
            <span class="label label-success">学习中心</span>
        </div>

        <div>
        <div   class="text-success  text-center"><h3>{{ article.title }}</h3></div>
        <div>{{ article.content }}</div>
        </div>
    </div>

{% endblock %}

